.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  align-items: center;
  align-items: baseline;
  background-color: #ffffff;
  align-items: center;
}
.page-header .logo {
  margin-right: 93px;
}
.header__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  align-items: center;
}
.header-list__link .header-contakts__list {
  position: relative;
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: black;
  margin-right: 50px;
  padding: 32px 0;
  

  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    color: var(--header-hover);
  }
  
}
.active-link {
  color: var(--header-hover);
  border-bottom: 4px solid var(--header-hover);
}

.header-contakts .header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: black;
  margin-right: 50px;
}

.header-contakts__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}
.header-contakts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding: 32px 0;
  display: flex;
  align-items: center;
  padding: 32px 0;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    color: var(--header-hover);
  }

  &:hover .icon,
  &:focus .icon {
    fill: currentColor;
  }
}
.header-contakts__item:first-child {
  margin-right: 50px;
}

.header-contakts__link-icon {
  margin-right: 10px;
  fill: currentColor;
}
