.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  .team__list {
      gap: 30px;
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    @media screen and(min-width:480px) {
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
    }
    @media screen and(min-width:768px) {
      flex-wrap: wrap;
    }
  }
  .icons {
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 30px;
  }
  .all-team__social-link {
    &:hover,
    &:focus {
      background-color: #2196f3;
      color: #ffffff;
    }
  }
  .all-team__social-link {
    &:hover .icon-link,
    &:focus .icon-link {
      color: #ffffff;
    }
  }
  .all-team__icons:last-child {
    margin-right: 0;
  }
}
.team__list__link {

  @media screen and(min-width:480px) {
    margin-bottom: 30px;
    width: 450px;
    flex-wrap: wrap;
    background: var(--next-color);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    background: var(--next-color);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  @media screen and(min-width:1200px) {
    background: var(--next-color);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 50px;
}

.team__paragrahp {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.team__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 16px;
}
.team__icon {
  fill: currentColor;
}
.team__list-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  @media screen and (min-width: 480px) {
    padding-left: 122px;
    padding-right: 122px;
    padding-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 24px;
  }
}
.team__link-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}
.alltime {
  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    list-style: none;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    margin: 0 auto;
    list-style: none;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    list-style: none;
  }
}
.alltime__list {
  display: flex;
    gap: 30px;
        padding: 0;
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;

  }
}
.under-clients {
  width: 1200px;
}
.alltime__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.alltime__item {
  width:170px;
  display: inline-block;
  @media screen and(min-width:480px) and (max-width:767px){
    width: 210px;
  }
  @media screen and(min-width:768px) and (max-width:1199px){
    width: 226px;
    display: block;
  }
}
.alltime__link {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    color: #2196f3;
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}
.alltime__logo {
  margin: 16px 32px;
  fill: currentColor;
}
