.container__logo {
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  display: block;
  align-items: center;
  @media screen and(max-width:1199px){
width:134px;
 padding-top:26px;
padding-bottom: 26px;
padding-left: 15px; 
  }
  @media screen and(max-width:767px){
padding-top:16px;
padding-bottom: 16px;
padding-left: 15px;    
  }
}
.container__web {
  font-family: 'Raleway', sans-serif;
}

.address .container__logo{
  margin-bottom: 20px;
}

.container__web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(32 / 26);
  letter-spacing: 0.03em;
  color: var(--header-hover);
}
.container__web {
  color: black;
}
